{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #417192 !important;">
    <a class="navbar-brand text-warning ml-3" href="{% url 'store:store' %}" >
        <span style="font-family: 'Anton', sans-serif; ">IGL</span>
        <span style="font-family: 'Do Hyeon', sans-serif; ">Carpets</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store:store' %}">About us <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <ul class=" navbar-nav my-lg-0">

            {% if request.user.is_authenticated  %}
                <li class="nav-item ">
                    <a href="{% url 'store:logout' %}" class="btn text-dark  rounded-0 btn-warning">Logout</a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a href="{% url 'store:register' %}" class="btn text-dark rounded-0 btn-warning mr-2">Register</a>
                </li>    
                <li class="nav-item ">
                    <a href="{% url 'store:login' %}" class="btn text-dark rounded-0 btn-warning">Login</a>
                </li>
            {% endif %}
            
            <li class="nav-item text-light mx-4 my-auto" id='cart-icon'>
                <a href="{% url 'store:cart' %}" style="text-decoration: none;">
                    <i class="fas fa-shopping-cart text-light"></i>
                    <span class="badge badge-danger">{{ cart_items }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>