{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div>

	

	<div class="row mt-5">
		{% for i in products %}

		<div class="col-lg-4 col-md-6 mb-4">
			<div class="card" style="width: 18rem;">
				<img src="{{ i.imageURL }}" class="card-img-top img-fluid" alt="..." style="height: 200px;">
				<div class="card-body">
					<p class="card-text">{{ i.name }}</p>

					<hr style="background-color: lightgrey;">
					<div class="">
						<span class="ml-auto">
							<a class="btn btn-outline-info text-info rounded-0 btn-sm update-cart" data-product={{i.id}}
								data-action='add' >
								Add To Cart
							</a>
							<a href="{% url 'store:view_product' i.id %}"
								class="btn btn-outline-info rounded-0 btn-sm">View</a>
							<a class="" id='price_tag' style="float: right; font-weight: bold ;">Rs.
								{{ i.price|floatformat:2 }} </a>
						</span>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}

	</div>

</div>
 

{% endblock %}